body{
    background-image: url(img/bg_.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-top: 0px;
}

.navbar{
	top: 100px;
}
.alert{
	top: 200px;
}
.text-xs-center {
    text-align: center !important;
    padding-top: 200px;
}
.container{
	.text-xs-center {
    text-align: center !important;
    padding-top: 100px;
}
